img
{
    height: 360px;
    width: 360px;
}
img.pav:hover
{
    height: 400px;
    width: 400px;
}
img.bean:hover
{
    height: 400px;
    width: 400px;
    filter: saturate(100);
    filter: brightness(100);
}
table
{
    height: 30%;
    width: 20%;
    margin: auto;
}
table, td
{
    border: solid 1px black; 
}